// @use "../../partials/colors" as *;
// @use "../../partials/mixins" as *;
// @use "../../partials/typography" as *;

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;

  &__text {
    text-align: center;
    font-size: 0.7rem;
  }
}
