@import "../../partials/colors";
@import "../../partials/mixins";
@import "../../partials/typography";

.signup {
  height: 100vh;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__form {
    width: 40%;
    padding-top: 1rem;

    &-input {
      width: 100%;
      margin: 0.5rem 0;
      padding: 0.2rem 0.5rem;
    }

    &-label {
      padding: 2rem 0;
    }
  }

  &__button {
    width: 100%;
    height: 2rem;
    margin: 0.5rem 0;
    background-color: $darkgreen;
    border: 1px solid $darkgreen;
    border-radius: 5px;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $lightgreen;
    border: 1px solid $lightgreen;
  }
}
