// GLOBAL
$black: #323232;
$silver: #afafaf;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$white: #ffffff;

// INSTOCK COLOURS
$blue: #004892;
$darkblue: #002f5f;

// BRAINFLIX COLOURS
$brainflix-lightblue: #0095ff;
$brainflix-darkblue: #0065ad;

$lightgreen: #e9edc9;
$darkgreen: #ccd5ae;
$lightyellow: #fefae0;
$darkyellow: #faedcd;
$fawn: #d4a373;
